.header-container {
	display: flex;
	width: 100%;
	height: 80px;
	max-height: 80px;
	background: #bf3237;
	color: #f4eeff;
	font-size: 42px;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 20px;
}

.header-container h3 {
	margin-left: 15px;
}