.wrapper {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.wrapper > poke-header {
  grid-area: header;
}

.wrapper > .main {
  grid-area: main;
  padding: 15px 5px 10px 5px;
}

.wrapper > app-footer {
  grid-area: footer;
}
