.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  > poke-header {
    grid-area: header;
  }

  > .main {
    grid-area: main;
    padding: 15px 5px 10px 5px;
  }

  > poke-footer {
    grid-area: footer;
    height: 5rem;
    margin-top: 1rem;
  }
}
