.content {
    max-width: 1240px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.content poke-card {
    cursor: pointer;
}